@media only screen and (max-width: 1366px) {
	html { font-size: 55%}
	.appointment {
		left: 5%;
		top: 26%;
	}
	.head-space {
	  height: 14rem;
	}
	.head-background {
	  max-height: 37rem;
	}
}
@media only screen and (max-width: 1280px) {
	.appointment {
		left: 5%;
	}
	.head-space {
		height: 12rem;
	}
}
@media only screen and (max-width: 1024px) {
	.header .language .dropdown-menu {
		left: -27px !important;
	}
	.head-space {
		height: 7.5rem;
	}
	.btn-primary {
	    padding: 1rem 1.5rem;
	    font-size: 2rem;
	}
	.form-control {
		margin-bottom: 2rem;
	}
	.header {
		border-bottom: 2px solid #0c806b;
	}
	.carousel-control-next, .carousel-control-prev {
		display: none;
	}
	.js-menu-mobile {
		display: inline-block;
		vertical-align: top;
		zoom: 1; /* Fix for IE7 */
		*display: inline; /* Fix for IE7 */
	}
	.main-nav, .header .clinics {
		display: none;
	}
	.index-three-box {
	    margin-top: 3rem;
	}
	.index-three-box .item {
		margin-bottom: 2rem;
	}
	.appointment {
		padding:  0 1.5rem;
	    position: relative;
	    top: -5.5rem;
	    left: 0;
	    width: 100%;
	    max-width: 100%;
	}
	.appointment .nav-tabs li {
		padding: .5rem
	}
	.appointment .nav-tabs li .icon {
		font-size: 2.4rem;
		padding: 1rem 1.2rem;
	}
	.appointment .tab-pane {
		background-color: transparent
	}
	.appointment .content {
	    padding: 1rem 2rem;
	    color: #fff;
	    width: 100%;
	    font-size: 2rem;
	    line-height: 1.2;
	    color: #696a6a;
	}
	.appointment .content .form-control {
		color: #696a6a;
		font-size: 2rem !important;
	}
	.appointment #agree-form {
		font-size: 2rem;
	}
	.appointment  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #696a6a;
	}
	.appointment  ::-moz-placeholder { /* Firefox 19+ */
	  color: #696a6a;
	}
	.appointment  :-ms-input-placeholder { /* IE 10+ */
	  color: #696a6a;
	}
	.appointment  :-moz-placeholder { /* Firefox 18- */
	  color: #696a6a;
	}
	.appointment .col-lg-9 p {
		margin-bottom: 2rem;
	}
	.services .left, .services.right {
		margin-bottom: 2rem;
	}
	.highlight .item .box {
		margin-bottom: 2rem
	}
	.about-us {
		padding: 3rem 0
	}
	.appointment .col-lg-6, .appointment .col-lg-12 {
		padding: 0 !important;
	}
}	
@media only screen and (max-width: 768px) {
	html { font-size: 64%;}
	.nav-mobile li a {
		font-size: 1.4rem;
	}
	.head-space {
		height: 7.4rem;
	}
	.make-appointment-page .location .rows {
		display: block !important
	}
	.footer-nav .nav > li {
		width: 100%;
		margin-right: 0;
	}
	.footer .top .left > span, .footer .top .left form {
		display: block;
		width: 100%;
	}
	.footer .top .left > span {
		margin-bottom: 1rem;
	}
	.footer .top .left .search input, .footer .top .left .search .input-group-btn {
		display: inline-block;
		vertical-align: top;
		zoom: 1; /* Fix for IE7 */
		float: left;
	}
	.healthcheck .heading {
		padding: 1rem 0;
	}
	.healthcheck .heading:after {
		top: 3.2rem;
	}
	.healthcheck .item {
		margin-bottom: 2rem;
	}
	.visa-health-check .form .group {
		display: block
	}
	.visa-health-check .form .group .column {
		display: block;
		margin-bottom: 1rem;
	}
	.visa-health-check .form .group .column:last-child {
	  padding-left: 0;
	}
	.visa-health-check .form .group .column:first-child {
		width: 100%;
	}
}

@media only screen and (max-width: 700px) {
	.header .top .logo {
		width: 16.7rem;
    	margin-top: 0.7rem;
	}
	.header .search {
		margin-top: 0.2em;
	}
	.header .search .input input, .header .search.show .input {
		height: 4.2rem !important;
	}
	.header .language {
	    margin-top: 1rem;
	}
	.js-menu-mobile {
		margin-top: 0.6rem;
	}
	.head-space {
		height: 5.2rem;
	}
}
@media only screen and (max-width: 540px) {
	.head-space {
		height: 5.3rem;
	}
	.clinics-map .heading h2, .services .heading, .healthcare-team .heading h2, .index-news .heading h2 {
		font-size: 2.4rem;
	}
	footer .top .left {
		margin-bottom: 1rem;
	}
	.footer .top .socical, .footer .top .left > span, .footer .bottom {
		text-align: center;
	}
	.footer .dathongbao {
		margin: 0 auto;
	}
}
@media only screen and (max-width: 540px) {
	.header .search {
		display: none;
	}
	.header > .container {
		padding: 0;
	}
	.form-check-input {
		margin-top: 0.5rem;
	}
	.appointment .form-check {
		margin-bottom: 2rem;
	}
}
@media only screen and (max-width: 370px) {
	.header .top .logo {
		width: 13rem;
		margin-top: 1rem;
	}
	.header .language .dropdown-menu {
		left: 1rem;
	}
}