/*
*  html5 doctor css reset | http://html5doctor.com/html-5-reset-stylesheet
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
ins{background-color:#ff9;color:#000;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}
@font-face {
    font-family:'HelveticaNeue';
    src:url('../fonts/HelveticaNeue-Regular.otf');
}
@font-face {
    font-family:'HelveticaNeueLight';
    src:url('../fonts/HelveticaNeue-Light_1.otf');
}
@font-face {
    font-family:'HelveticaNeueBold';
    src:url('../fonts/HelveticaNeue-Bold.ttf');
}
@font-face {
    font-family:'HelveticaNeueMedium';
    src:url('../fonts/HelveticaNeue-Medium_3.otf');
}
@font-face {
    font-family:'HelveticaNeueLightItalic';
    src:url('../fonts/HelveticaNeue-LightItalic_3.otf');
}
html { font-size: 62.5%; /* Mac dinh ve gia tri 10px */ }
body {
  font-size: 1.8rem;
  font-family: 'HelveticaNeueLight', Arial, Helvetica, sans-serif;
  color:#696a6a;
  position: relative;
  background: #fff;
  letter-spacing: 0.5px;
}
.body {
  overflow-x: hidden;
}
a {
  text-decoration: none;
  color: #0c806b;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
a:hover {
  text-decoration: none;
  color: #a9cf48;
}
a:focus, a:active {
  outline: 0;
  color: #b80000;
}
button:hover {
  cursor: pointer;
}
button:fucus, button:active {
  outline: 0;
  box-shadow: none;
}
strong {
  font-family: "Helvetica Neue Bold", Arial, Helvetica, sans-serif;
}
.italic {
  font-family: "HelveticaNeueLightItalic", Arial, Helvetica, sans-serif;
}
.size-24 {
  font-size: 24px;
}
.red {
  color: #c70000;
}
/*Overwrite Bootstrap CSS */
.container {
  max-width: 1170px;
}
.carousel-control-next, .carousel-control-prev {
  width: 7%;
}
.carousel-control-next, .carousel-control-prev {
  display: none;
}
.carousel:hover .carousel-control-next, .carousel:hover .carousel-control-prev {
      display: flex;
}
.form-control {
  font-size: 1.6rem !important;
  padding: 0 0.75rem;
  height: 4rem !important;
  color: #fff;
  border-radius: 0;
}
.form-control:focus {
    color: #fff;
    background-color: #fff;
    border-color: #0c806b;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(12, 128, 107,.25);
}
.form-check-input {
  margin-top: 1.1rem;
  margin-right: -0.25rem;
  margin-left: -2.25rem;
}
.form-check {
  padding-left: 2.25rem;
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  margin-right: 2rem;
}
.dropdown-menu {
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
      z-index: 9999999999;
} 
.footer-nav .dropdown-menu {
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
} 
.dropdown-item {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.dropdown-item a {
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.dropdown-toggle {
  position: relative;
  /*padding-right: 2rem;*/
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-toggle .icon {
  float: right;
  margin-left: 0.5rem;
  color: #a9cf48;
  font-size: 1.8rem;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.dropdown-item:active {
  background: #0c806b;
  color: #fff;
}
.dropdown-item:focus, .dropdown-item:hover {
  background: #0c806b;
}
.dropdown-item:active a, .dropdown-item:focus a, .dropdown-item:hover a {
  background: #0c806b;
  color: #fff;
}
.dropdown.show .dropdown-toggle .icon {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.btn-primary {
  border-radius: 0;
  background-color: transparent;
  padding: 0.5rem 1rem;
  color: #0c806b;
  font-size: 1.8rem;
  border-color: #0c806b;
  text-transform: uppercase;
}
.btn-primary:hover {
  background-color: #0c806b;
  border-color: #0c806b;
  color: #ffffff;
}
.tooltip-inner {
  background-color: #0c806b;
  font-size: 1.6rem;
}
.bs-tooltip-auto[x-placement^=top] .arrow::before, .bs-tooltip-top .arrow::before {
  border-top-color: #0c806b;
}
.card-header .icon {
  position: absolute;
  top: 2rem;
  right: 0;
  color: #0c806b;
  display: none;
  font-size: 1.6rem;
}
.card-header .icon.plus {
  display: block;
}
.card-header button[aria-expanded="true"] .icon.plus {
  display: none;
}
.card-header button[aria-expanded="true"] .icon.minus {
  display: block;
}
.card-header .btn-link {
  display: block !important;
  width: 100%;
  text-align: left;
}
.breadcrumb {
  background: transparent;
  padding: 0;
  padding-top: 2rem;
}
/*End Overwrite Bootstrap CSS*/
.js-menu-mobile {
  display: none;
    background-color: transparent;
    width: 50px;
    height: 50px;
    margin-top: 1rem
}
.js-menu-mobile .trigger-menu {
    cursor: pointer;
    width: 50px;
    height: 50px;
}
.js-menu-mobile .trigger-menu .three-bars-icon {
    margin: 22px 14px;
    user-selectable: none;
    position: relative;
    display: inline-block;
    width: 26px;
    height: 3px;
    background: #0c806b;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.js-menu-mobile .trigger-menu span {
    display: inline-block;
    vertical-align: middle;
}
.js-menu-mobile .trigger-menu .three-bars-icon:before {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: -7px;
    background: #0c806b;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
.js-menu-mobile .trigger-menu .three-bars-icon:after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 7px;
    background: #0c806b;
    -webkit-transition: all .25s ease-in-out;
       -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
         -o-transition: all .25s ease-in-out;
            transition: all .25s ease-in-out;
}
[off-canvas] {
  padding: 40px 20px 20px 20px;
}
.js-menu-mobile .trigger-menu .three-bars-icon.close {
    position: relative;
    display: inline-block;
    background: transparent;
}
.js-menu-mobile .trigger-menu .three-bars-icon.close:before {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    background: #0c806b;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.js-menu-mobile .trigger-menu .three-bars-icon.close:after {
    content: '';
    display: block;
    position: absolute;
    width: 26px;
    height: 3px;
    top: 0;
    background: #0c806b;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: transparent;
}
.header {
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 999999;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .top {
  position: relative;
}
.header .top .logo {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width: 27.7rem;
}
.header .top .logo img {
  width: 100%;
}
.header .clinics {
  z-index: 99999;
  position: relative;
  margin-top: 1.15rem;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .clinics .icon {
  margin-top: 0.4rem;
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  font-size: 3rem;
  color: #0c806b;
  border: 1px solid #0c806b;
  margin-right: 1rem;
  padding: 0.5rem;
  z-index: 99;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .clinics .icon:hover {
  cursor: pointer;
  color: #a9cf48;
  border-color: #a9cf48;
}
.header .clinics ul {
  background: #fff;
  width: 24rem;
  height: 0;
  overflow: hidden;
  position: absolute;
  z-index: 9999999;
  top: 100%;
  right: 0.8rem;
  border-radius: 0.3rem;
  box-shadow: 0 1rem 2rem rgba(0,0,0,0.3);
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .clinics.show ul {
  height: 19.6rem;
}
.header .clinics li {
  list-style: none;
  border-bottom: 1px solid #0c806b;
  line-height: 1.2;
}
.header .clinics li:first-child {
  margin-top: 0.5rem;
}
.header .clinics li:last-child {
  border: 0;
  margin-bottom: 0.5rem;
}
.header .clinics li a {
  display: block;
  width: 100%;
  padding: 1.5rem 1rem;
  color: #0c806b;
  font-size: 1.4rem;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .clinics li:hover a {
  background: #0c806b;
  color: #fff;
}
.header .search {
  margin-top: 1.6rem;
  position: relative;
  z-index: 999999999;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .search .input {
  overflow: hidden;
  width: 0;
  height: 4.2rem;
  position: absolute;
  z-index: 99;
  left: 0;
  top: 0;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .search .input input {
  height: 4.2rem !important;
  border-left: 1px solid #0c806b;
  border-top: 1px solid #0c806b;
  border-bottom: 1px solid #0c806b;
}
.header .search .icon, .header .search .btn-icon {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  font-size: 3rem;
  color: #0c806b;
  border: 1px solid #0c806b;
  margin-right: 1rem;
  padding: 0.5rem;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .search .icon:hover {
  cursor: pointer;
  color: #a9cf48;
  border-color: #a9cf48;
}
.header .search .btn-icon {
  display: none;
  background: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
.header .search.show .btn-icon {
  display: block;
}
.header .search.show .input {
  width: 22rem;
  left: -22rem;
}
.header .language {
  margin-top: 2.5rem;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .language img {
  width: 1.8rem;
  border:  1px solid #e8e8e8;
}
.header .dropdown-menu {
  border: 0 !important;
}
.header .language .dropdown-menu {
  border: 0 !important;
  left: -36px !important ;
}
.header .language .dropdown-item:hover {
  color: #fff !important;
}
.header .language .btn-secondary {
  background: none !important;
  border: 0 !important;
  box-shadow: 0 !important;
  color: #0c806b;
  font-size: 1.4rem;
}
.header .language .btn-secondary .icon {
  margin-top: -0.3rem;
}
.header .language .btn-secondary:focus {
  box-shadow: none;
}
.header .main-nav {
  background-color: #0c806b;
}
.header .nav {
  width: 100%;
}
.header .nav > li > a {
  color: #fff;
  font-size: 1.4rem;
  padding: 2rem 0.5rem;
  font-family: "HelveticaNeueBold", Arial, Helvetica, sans-serif !important;
 -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
     -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
         transition: all .25s ease-in-out;
}
.header .nav > li:hover > a {
  cursor: pointer;
  background-color: #fff;
  color: #0c806b;
}
.header .nav > li {
  border-right: 1px solid #fff;
}
.header .nav > li:last-child {
  border: 0;
}
.header .nav li a {
  display: block;
  font-family: "HelveticaNeueBold", Arial, Helvetica, sans-serif !important;
  -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
     -ms-transition: all .25s ease-in-out;
      -o-transition: all .25s ease-in-out;
         transition: all .25s ease-in-out;
}

.header .nav li a .icon {
  float: right; 
  margin-left: 0.5rem;
  color: #a9cf48;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .nav li:hover a .icon {
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}
.header .nav ul {
  display: none;
  width: 22rem;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1rem 1rem rgba(0,0,0,0.3);
}
.header .nav li {
  position: relative;
  list-style: none;
}
.header .nav ul li {
  border-bottom:  1px solid #e8e8e8;
}
.header .nav ul li a {
  padding: 1.5rem;
  font-size: 1.4rem;
  font-family: "HelveticaNeueLight", Arial, Helvetica, sans-serif !important;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.header .nav ul li:hover a {
  background: #0c806b;
  color: #fff;
}
.header.small {
  background-color: #fff;
}
.header.small .clinics {
  margin-top: 0;
}
.header.small .top .logo {
  width: 15.7rem;
}
.header.small .language {
    margin-top: 0.7rem;
}
.header.small .search {
    margin-top: 0.5rem;
    font-size: 2rem;
}
.header.small .search .icon, .header.small .search .btn-icon {
    font-size: 1.9rem;
}
.header.small .search .input input {
  height: 3.1rem !important;
}
.header.small .nav > li > a {
  padding: 1rem 0.5rem;
}
.header.small .clinics .icon  {
  font-size: 2rem;
}
/* .header.small .clinics li a {
  padding: 0.5rem 1rem
} */
.appointment {
  position: absolute;
  z-index: 9999;
  top: 24%;
  left: 7.5%;
  width: 100%;
  max-width: 50rem;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.appointment .nav-tabs li{
  border:  0;
  border-radius: 0;
  padding: 0.5rem;
  background: rgba(0 , 0, 0, 0.2);
}
.appointment .nav-tabs {
  border-bottom: 1px solid transparent;
}
.appointment .nav-tabs li .icon {
  display: block;
  background: #20b2eb;
  padding: 0.8rem 0.9rem;
  border-radius: 50%;
  color: #fff;
}
.appointment .nav-tabs li {
  position: relative;
  margin-right: 1px;
  z-index: 1;
}
.appointment .nav-tabs li:nth-child(2) .icon {
  background: #a4cd5a;
}
.appointment .nav-tabs li a:after {
  content: '' ;
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgba(0 , 0, 0, 0.2);
  top: -2px;
  left: 0;
  opacity: 0;
}
.appointment .or {
  position: absolute;
  top: 1rem;
  left: -0.7rem;
}
.appointment .nav-tabs li a.active:after {
  opacity: 1;
}
.appointment .tab-pane {
  width: 100%;
  background: rgba(0 , 0, 0, 0.2);
}
.appointment .content {
  padding: 1rem 2rem;
  color: #fff;
  width: 100%;
  font-size: 1.6rem;
  line-height: 1.2;
}
.appointment .col {
  padding: 0.2rem 1rem !important;
}
.appointment .content .form-control {
  font-size: 1.6rem !important;
  background: transparent;
}
.appointment .content .row {
  margin-bottom: 1rem;
}
.appointment .content .row:last-child {
  margin-bottom: 0;
}
.appointment .btn-primary {
  background: #0c806b;
  border-color: #0c806b;
  color: #fff;
}
.appointment .btn-primary:hover {
  background: #a4cd5a;
  border-color: #a4cd5a;
}
.appointment  .blue-text {
  font-size: 18px;
  color: #0078a7;
}
.appointment  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.appointment  ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.appointment  :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.appointment  :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}
.appointment .dcform {
  display: none;
}
.appointment .dcform.active {
  display: block
}
.appointment .col-lg-6:nth-child(2n+1) {
  padding-right: 0.5rem;
}
.appointment .col-lg-6:nth-child(2n) {
  padding-left: 0.5rem;
}
.dcform .col-lg-6 {
  padding: 0 15px !important;
}
.nav-tabs {
  position: relative;
}
.nav-tabs::after {
  display: none;
  content: '';
  position: absolute;
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 99999;
}
.appointment.hover .nav-tabs::after {
  display: block
}
.appointment #agree-form {
  display: none;
  padding: 1rem 2rem;
}
.appointment #agree-form p {
  margin-bottom: 1rem;
}
.appointment .tab-pane ul {
  margin-left: 1rem;
}
.appointment .tab-pane ul li {
  list-style: none;
  padding-left: 1rem; 
  position: relative;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.appointment .tab-pane ul .icon {
  position: absolute;
  color: #0c806b;
  font-size: 1rem;
  left: -0.7rem;
  top: 0.3rem;
}
/* .appointment .form-check {
  margin-bottom: 0.5rem;
} */
.appointment.hover #agree-form {
  display: block;
}
.appointment.hover #make-appointment {
  display: none;
}
.index-three-box {
  margin-top: -15rem;
}
.index-three-box .item {
  color: #fff;
  padding: 0 1.5rem;
}
.index-three-box .item .box {
  background-color: #01a987;
  padding: 1.5rem;
  min-height: 35rem;
}
.index-three-box .item .name {
  font-size: 30px;
  line-height: 1.2;
  margin: 3rem 0;
  text-transform: uppercase;
}
.index-three-box .item a {
  color: #fff; 
}
.index-three-box .item .box .text {
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: justify;
  margin-bottom: 3rem;
}
.healthcheck {
  margin-bottom: 6rem;
}
.healthcheck .heading {
  text-align: center;
  font-size: 1.8rem;
  padding: 8rem 0;
  width: 70%;
  margin: 0 auto;
  position: relative;
}
.healthcheck .heading:after {
  position: absolute;
  content: "";
  width: 100%;
  z-index: 1;
  height: 0;
  border-top: 1px solid #696a6a;
  left: 0;
  top: 11.2rem;
}
.healthcheck .heading h2 {
  width: 100%;
  max-width: 32rem;
  padding: 1rem;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  z-index: 2;
}
.healthcheck .item {
  padding: 0 2rem;
}
.healthcheck .item .box {
  padding: 3rem 2rem;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 4.3rem 0 rgba(99, 99, 99, 0.12);
  min-height: 41.5rem;
}
.healthcheck .item .box .icon {
  text-align: center;
  font-size: 9rem;
  margin: 0 0 1rem 0;
  display: block;
}
.healthcheck .item .box .name {
  font-family: "HelveticaNeueLight", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1rem;
  line-height: 1.2;
}
.healthcheck .item .box .name a {
  color: #696a6a;
  display: block;
  min-height: 7.2rem;
}
.healthcheck .item .box .text {
  line-height: 1.2;
  font-size: 1.8rem;
  text-align: justify;

}
.healthcare-team {
  background-color: #f4f4f4;
  padding: 6rem 0;
}
.healthcare-team.sub-page {
  background-color: #fff;
  padding-top: 0;
}
.healthcare-team .heading {
  text-align: center;
  line-height: 1.2;
}
.healthcare-team.sub-page .heading {
  text-align: left;
  padding: 0 0;
}
.healthcare-team .heading h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'HelveticaNeueLight', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.healthcare-team.sub-page .heading h2 {
  color: #0c806b;
  font-family: "HelveticaNeueLight", Arial, Helvetica, sans-serif;
}
.healthcare-team .heading p {
  font-size: 1.8rem;
  width: 100%;
  max-width: 715px;
  margin: 0 auto;
  margin-bottom: 4rem;
}
.healthcare-team.sub-page .heading p {
  max-width: 100% !important;
}
.healthcare-team .item {
  padding: 1.5rem;
  position: relative;
}
.healthcare-team .item .box {
  box-shadow: 0 0 2.3rem 0 rgba(99, 99, 99, 0.12);
  padding-bottom: 2rem;
  text-align: center;
  background-color: #ffffff;

}
.healthcare-team .item .box .thumbnail {
  display: block;
  margin-bottom: 4rem;
}
.healthcare-team .item .box .thumbnail img {
  display: block;
  width: 100%;
}
.healthcare-team .item .box .name {
  width: 80%;
  margin: 0 auto;
  font-size: 2rem;
  font-family: "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #696a6a;
  margin-bottom: 2rem;
  min-height: 6rem;
  vertical-align: middle;
}
.healthcare-team .item .box .name a {
  display: block;
  color: #696a6a;
  margin-bottom: 1rem;
}
.healthcare-team .item .box .title {
  width: 90%;
  margin: 0 auto;
  font-size: 1.8rem;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
  min-height: 6.3rem;
}
.healthcare-team .item .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 1.5rem;
  opacity: 0;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.healthcare-team .item:hover .info {
  opacity: 1;
}
.healthcare-team .item .info .in {
  width: 100%;
  padding: 1rem 2rem;
  display: block;
}
.healthcare-team .item .info .box {
  background-color: transparent;
  background-color: rgba(7, 95, 79, 0.9);
  width: 100%;
  height: 100%;
  padding-top: 8rem;
}
.healthcare-team .item .info .in .icon {
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  background-color: #fff;
  color: #0c806b;
  font-size: 1.8rem;
  border-radius: 100px;
  width: 3.6rem;
  height: 3.7rem;
  text-align: center;
  padding: 1rem 0;
  float: left;
}
.healthcare-team .item .info .in .icon.image {
  background-color: transparent;
  margin-top: -4px;
  padding-left: 4px;
  text-align: center;
}
.healthcare-team .item .info .in .icon img {
  width: 25px;
}
.healthcare-team .item .info .in .line-1 {
  margin-top: 5px;
  font-size: 1.4rem;
  font-family: "HelveticaNeueBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2;
  text-align: left;
}
.healthcare-team .item .info .in .line-2 {
  font-size: 1.4rem;
  font-family: "HelveticaNeueLightItalic", Arial, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.2;
  text-align: left;
}
.healthcare-team .slick-dots {
  bottom: -40px;
}
.slick-dots li button {
    color: transparent;
    opacity: 1;
}
.slick-dots li button:before {
    opacity: 1 !important;
    border-radius: 50%;
    color: transparent !important;
    border: 2px solid #0c806b;
    width: 15px !important;
    height: 15px !important;
}
.slick-dots li.slick-active button:before {
    opacity: 1 !important;
    color: transparent !important;
    border: 2px solid #0c806b;
    background-color: #0c806b
}
.clinics-map {
  padding: 3rem 0;
  text-align: center;
  margin-bottom: 6rem;
}
.clinics-map .row {
  margin: 0 !important;
}
.clinics-map .heading {
  text-align: center;
}
.clinics-map .heading h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: 'HelveticaNeueLight', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.clinics-map  .map {
  display: block;
  width: 100%;
}
.clinics-map .map img {
  display: block;
  width: 100%;
}
.services {
  margin-bottom: 6rem;
}
.services .container {  padding-top: 6rem;
  border-top: 1px solid #696a6a;
}
.services .row {
  margin:  0;
}
.services .heading {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: 'HelveticaNeueLight', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.services .heading h2 {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
}
.services .heading .service-arrow .slick-arrow  {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  font-size: 1.6rem;
  color: #fff;
  padding: 1rem 1.5rem;
  background-color: #e5e5e5;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.services .heading .service-arrow .slick-arrow:hover {
  background-color: #0c806b;
}
.services .left {
  padding: 2rem 2rem;
  background-color: #0c806b;
}
.services .left ul {
  margin-bottom: 2rem;
}
.services .left ul li {
  list-style: none;
  line-height: 1.5;
  padding: 1rem 1rem;
  border-bottom: 1px solid #fff;
  color: #fff;
}
.services .left .btn-primary {
  border-color: #fff !important;
  color: #fff !important;
}
.services .left .btn-primary:hover {
  border-color: #fff !important;
  background-color: #fff !important;
  color: #0c806b !important;
}
.services .right {
  padding-left: 1.5rem;
}
.services .heading .service-arrow {
  float: right;
  margin-right: 1.5rem;
}
.services .right .slick-list {
  width: 100%;
}
.services .item {
  padding: 1.5rem;
}
.services .item .box {
  box-shadow: 0 0 2.3rem 0 rgba(99, 99, 99, 0.12);
  padding-bottom: 2rem;
  text-align: center;
  background-color: #ffffff;

}
.services .item .box p {
  padding: 0 1.5rem;
}
.services .item .box .thumbnail {
  display: block;
  margin-bottom: 4rem;
}
.services .item .box .thumbnail img {
  display: block;
  width: 100%;
}
.services .item .box .name {
  width: 80%;
  margin: 0 auto;
  font-size: 20px;
  font-family: "HelveticaNeue", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid #696a6a;
  margin-bottom: 2rem;
  min-height: 6rem;
  vertical-align: middle;
}
.services .item .box .name a {
  display: block;
  color: #696a6a;
}
.index-news .container {
  padding-top: 6rem;
}
.index-news .heading {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  line-height: 1.2;
  width: 100%;
  max-width: 615px;
  margin: 0 auto;
  text-align: center;
}
.index-news .heading h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  font-family: 'HelveticaNeueLight', Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
.news-slider {
  padding: 6rem 0; 
}
.news-slider .item {
  padding: 1.5rem;
}
.news-slider .item .box {
  box-shadow: 0 0 2.3rem 0 rgba(99, 99, 99, 0.12);
  padding-bottom: 2rem;
  background-color: #ffffff;

}
.news-slider .item .box .thumbnail {
  display: block;
  margin-bottom: 2rem;
}
.news-slider .item .box .thumbnail img {
  display: block;
  width: 100%;
}
.news-slider .item .box .name {
  font-size: 2rem;
  color: #000000;
  line-height: 1.2;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
}
.news-slider .item .box .name a {
  color: #696a6a;
}
.news-slider .item .box .meta {
  font-style: italic;
  font-size: 1.4rem;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.news-slider .item .box .text {
  line-height: 1.2;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
}
.news-slider .item .box .btn {
  margin-left: 5%;
}
.news-slider .slick-dots {
  bottom: 1rem;
}
.footer .top {
  color: #fff;
  background-color: #0c806b;
  padding: 0.5em;
}
.footer .top .left {
  padding-top: 5px;
}
.footer .top .left span {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  font-size: 1.8rem;
  font-family: "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  margin-right: 1rem;
  vertical-align: -1rem;
}
.footer .top .left form {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
}
.footer .top .left .search input {
  font-size: 1.6rem;
  padding: 0 1rem;
  border-radius: 0;
  line-height: 3.2rem;
}
.footer .top .left .search button {
  font-size: 2rem;
  background-color: #fff;
  border: 0;
  line-height: 4rem;
  padding: 0 1rem;
  color: #0c806b;
}
.footer .top .socical {
  text-align: right;
}
.footer .top .socical a {
  margin: 5px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  background-color: #fff;
  color: #0c806b;
  font-size: 1.8rem;
  border-radius: 100px;
  width: 3.6rem;
  height: 3.7rem;
  text-align: center;
  padding: 1rem 0;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.footer .top .socical a:hover {
  background: #00a883;
}
.footer .center {
  padding: 1.5rem 0;
  background: #cecccd;
}
.footer-nav .nav > li {
  display: inline-block;
  vertical-align: top;
  zoom: 1; /* Fix for IE7 */
  *display: inline; /* Fix for IE7 */
  width: 48%;
  margin-right: 2%;
  border-bottom: 1px solid #696a6a;
  margin-bottom: 1rem;
}
.footer-nav .nav > li li {
  display: block;
  border-top: 1px solid #e8e8e8;
}
.footer-nav .nav > li li:first-child {
  border-top: 0;
}
.footer-nav .nav > li li:hover a {
  color: #fff;
}
.footer-nav .nav > li ul {
  width: 100%;
}
.footer-nav .nav li a {
  display: block;
  padding: 1rem 0;
}
.footer-nav .nav > li a {
  color: #696a6a;
}
.footer-nav .nav > li:hover a {
  color: #0c806b;
}
.footer-nav .nav > li a .icon {
  color: #0c806b !important;
}
.footer .more-nav li {
  display: block;
  list-style: none;
  border-bottom: 1px solid #696a6a;
  margin-bottom: 1rem;
}
.footer .more-nav li a {
  display: block;
  padding: 1rem 0;
  font-size: 1.8rem;
  color: #696a6a;
}
.footer .more-nav > li a:hover {
  color: #a9cf48;
}
.footer .dathongbao {
  display: block;
  width: 15rem;
}
.footer .dathongbao a, .footer .dathongbao a img {
  display: block;
  width: 100%;
}
.footer .bottom {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 1rem;
  font-size: 1.4rem;
}

/*Mobile Menu*/
[off-canvas] {
    background-color: #0c806b !important;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.1)
}
.sidebar .logo {
  display: block;
  padding: 1rem;
  margin-bottom: 2rem;
}
.sidebar .logo img {
  display: block;
  width: 100%;
}
.nav-mobile li {
    list-style: none;
    position: relative
}
.nav-mobile li a {
  border-bottom: 1px solid #096b59;
}
.nav-mobile li:last-child {
    border: none
}

.nav-mobile li a {
  display: block;
  text-decoration: none;
  padding: 1.3rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.6rem;
  position: relative;
}
.nav-mobile > li > a {
  text-transform: uppercase;
}
.nav-mobile ul li a {
    padding-left: 30px
}
.nav-mobile ul li li a {
  padding-left: 40px;
  background: #10a58a;
}
.nav-mobile ul li li li a {
  padding-left: 60px;
  font-family: "Helvetica Neue Light", arial, sans-serif;

}
.nav-mobile ul {
    display: none
}
.nav-mobile ul li a {
  border-bottom: 1px solid #0f7d69;
  background: #10a58a;
}
.nav-mobile i {
    float: right;
    margin-top: 2px
}
.nav-mobile li a:focus {
    background: #a9cf48;
}
.nav-mobile li a .icon {
    top: 0.9rem;
    right: 1rem;
    position: absolute;
    content: "\f107";
    color: #a9cf48;
    font-size: 1.8rem;
    display: none;
}

.nav-mobile li a .icon.down {
  display: block;
}
.nav-mobile li.active a .icon.down {
  display: none;
}
.nav-mobile li.active a .icon.up {
  display: block;
  color: #fff;
}
/* End Mobile menu */
.datepicker-days table {
  font-size: 1.6rem !important;
}
.datepicker-days table th, .datepicker-days table td {
  padding: 0.7rem;
}
.highlight {
  background-color: #f4f4f4;
}
.highlight .container {
  padding: 3rem;
}
.highlight .heading {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  line-height: 1.2;
  width: 100%;
  margin: 0 auto;
}
.highlight .heading h2 {
  font-size: 3rem;
  margin-bottom: 3rem;
  font-family: 'HelveticaNeueLight', Arial, Helvetica, sans-serif;
  color: #0c806b;
}
.highlight.item {
  padding: 1.5rem;
}
.highlight .item .box {
  box-shadow: 0 0 2.3rem 0 rgba(99, 99, 99, 0.12);
  padding-bottom: 2rem;
  background-color: #ffffff;

}
.highlight .item .box .thumbnail {
  display: block;
  margin-bottom: 2rem;
}
.highlight .item .box .thumbnail img {
  display: block;
  width: 100%;
}
.highlight .item .box .name {
  font-size: 2rem;
  color: #000000;
  line-height: 1.2;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  font-family: 'HelveticaNeue', Arial, Helvetica, sans-serif;
}
.highlight .item .box .name a {
  color: #696a6a;
}
.highlight .item .box .text {
  line-height: 1.2;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 1.5rem;
  text-align: justify;
}
.highlight .item .box .btn {
  margin-left: 5%;
}
.highlight.slick-dots {
  bottom: 1rem;
}
.head-space {
  height: 14.5rem;
  background-color: #fff;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.head-space.small {
}
.head-background {
  overflow: hidden;
  max-height: 40rem;
}
.head-background img {
  display: block;
  width: 100%;
}
.health-check {
  padding-bottom: 1rem;
}
.health-check .item {
  text-align: center;
  color: #0c806b;
  font-size: 1.8rem;
  text-transform: uppercase;
  background: #fff;
  margin-bottom: 5rem;
  box-shadow: 0 0 2.3rem 0 rgba(99, 99, 99, 0.12);
}
.health-check .item .thumbnail, .health-check .item .thumbnail img {
  display: block;
  width: 100%;
}
.health-check .item .name {
  line-height: 1.2;
  padding: 1rem;
  min-height: 74px;
}
.health-check .item .name a {
  padding: 1rem;
  display: block;
  line-height: 100%;
  line-height: 1.2;
}
.health-check-tab {
  padding-bottom: 6rem;
}
.health-check-tab .heading {
  line-height: 1.2;

}
.health-check-tab .heading h2 {
  font-size: 3.6rem;
  font-family: "HelveticaNeueLight", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #0c806b;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.health-check-tab.visa-health-check  .heading h2 {
  border-bottom: 1px solid #0c806b;
}
.health-check-tab .accordion {
  padding: 4rem 0 4rem 6rem;
  border-top: 1px solid #0c806b;
  border-bottom: 1px solid #0c806b;
  position: relative;
}
.health-check-tab .accordion:before {
  position: absolute;
  content: '';
  width: 1px;
  height: calc(100% - 8rem);
  background: #0c806b;
  left: 4rem;
  top: 4rem;
} 
.health-check-tab .btn-link  {
  font-size: 2.4rem;
  color: #696a6a;
  padding: .375rem 0;
}
.health-check-tab .btn-link:hover, .health-check-tab .btn-link:active, .health-check-tab .btn-link:focus {
  text-decoration: none;
  color: #0c806b;
}
.health-check-tab .card {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #696a6a;
}
.health-check-tab .card:last-child {
  border-bottom: none;
}
.health-check-tab .card-header {
  background-color: transparent;
  border: 0;
  position: relative;
  padding: .75rem 0;
}
.health-check-tab .card-body {
  padding: 3rem;
  background: #0c806b;
  color: #fff;
  position: relative;
  line-height: 1.2;
}
.health-check.news-information .item .name {
  min-height: 0;
}
.health-check .head-text {
  line-height: 1.2;
  margin-bottom: 3rem;
}
.health-check .head-text p {
  margin-bottom: 2rem;
}
.health-check .heading {
  margin-bottom: 3rem;
}
.health-check .heading h2 {
    color: #0c806b;
    font-family: "HelveticaNeueLight", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}
.visa-health-check .content {
  padding: 2rem 0;
}
.visa-health-check .blue-text {
  color: #0c806b;
}

.visa-health-check .form .group {
  display: table;
  width: 100%;
  margin-bottom: 2rem;
  line-height: 1.2;
}
.visa-health-check .form .group .column {
  display: table-cell;
  vertical-align: middle;
}
.visa-health-check .form .group .column:first-child {
  width: 150px;
}
.visa-health-check .form .group .column:last-child {
  padding-left: 1rem;
}
.visa-health-check .info {
  line-height: 1.5;
  font-size: 1.6rem;
  font-family: "HelveticaNeueLightItalic", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.visa-health-check .form .form-control, .visa-health-check .form input[type="checkbox"] {
  border: 1px solid #0c806b;
}
.make-appointment-page {
  padding-bottom: 6rem;
}
.visa-health-check .form .btn {
  background: #0c806b;
  color: #fff;
  font-size: 2.4rem;
  font-family: "HelveticaNeueBold", Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.visa-health-check .form .btn:hover {
  background: #0c806b;
  color: #fff;
  opacity: 0.8;
}
.make-appointment-page .heading {
  font-size: 3.6rem;
  font-family: "HelveticaNeueLight", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #0c806b;
  line-height: 1.5;
  margin-bottom: 2rem;

}
.make-appointment-page .location {
  padding: 4rem 0 4rem 6rem;
  border-top: 1px solid #0c806b;
  border-bottom: 1px solid #0c806b;
  position: relative;
  margin-bottom: 4rem;
}
.make-appointment-page .location:before {
  position: absolute;
  content: '';
  width: 1px;
  height: calc(100% - 8rem);
  background: #0c806b;
  left: 4rem;
  top: 4rem;
} 
.make-appointment-page .rows {
  border-bottom: 1px solid #696a6a;
}
.make-appointment-page .item {
  padding: 1.5rem 0 !important;
}
.make-appointment-page .item .head {
  font-size: 2.4rem;
  color: #696a6a;
}
.make-appointment-page .item .blue-text {
  font-size: 1.8rem;
  color: #0c806b;
}
.make-appointment-page .make-form {
  margin-top: 2rem;
}
.make-appointment-page .make-form p {
  line-height: 1.2;
  margin-bottom: 1rem;
}
.make-appointment-page .make-form .blue-text {
  color: #0c806b;
}
.make-appointment-page .make-form ul {
  margin-left: 20px;
}
.make-appointment-page .make-form li {
  list-style: none;
  padding-left: 1rem; 
  position: relative;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.make-appointment-page .make-form li .icon {
  position: absolute;
  color: #0c806b;
  font-size: 0.6rem;
  left: -1.2rem;
  top: 0.7rem;
}
.make-appointment-page .make-form .form-check {
  margin-bottom: 0.5rem;
  margin-left: 0.6rem;
}
.make-appointment-page .make-form .btn-primary {
  background-color: #0c806b;
  border: 1px solid #0c806b;
  color: #fff;
  font-family: "HelveticaNeueBold", Arial, Helvetica, sans-serif;
  font-size: 3rem;
  padding: 1rem 1rem;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.make-appointment-page .make-form .btn-primary:hover {
  opacity: 0.7;
}

.our-clinics {
  padding-bottom: 6rem;
}
.our-clinics .heading {
  font-size: 3.6rem;
  font-family: "HelveticaNeueLight", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #0c806b;
  margin-bottom: 2rem;
  border-bottom: 1px solid #0c806b;
}
.our-clinics .heading h2 {
  margin-bottom: 2rem;
}
.our-clinics .accordion {
  position: relative;
}
.our-clinics  .btn-link  {
  font-size: 2.4rem;
  color: #0c806b;
  display: block;
}
.our-clinics  .btn-link:hover, .our-clinics  .btn-link:active, .our-clinics  .btn-link:focus {
  text-decoration: none;
  color: #0c806b;
}
.our-clinics  .card {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #696a6a;
}
.our-clinics  .card:last-child {
  border-bottom: none;
}
.our-clinics  .card-header {
  background-color: transparent;
  border: 0;
  position: relative;
  padding: 1.5rem 0
}
.our-clinics  .card-header .btn-link {
  padding: .375rem 0;
}
.our-clinics .card-body {
  padding: 3rem;
  border-top: 1px solid #696a6a;
  position: relative;
}
.our-clinics .card-body p {
  margin-bottom: 2rem;
  line-height: 1.2;
  text-align: justify;
}
.our-clinics .card-body .address {
  color: #0c806b;
}

.about-us {
  padding-bottom: 6rem;
}
.about-us .heading {
  font-size: 3.6rem;
  font-family: "HelveticaNeueLight", Arial, "Helvetica Neue", Helvetica, sans-serif;
  color: #0c806b;
  margin-bottom: 3rem;
}
.about-us .accordion {
  padding: 0 0 4rem 0;
  position: relative;
}
.about-us .btn-link  {
  font-size: 2.4rem;
  color: #696a6a;
  padding: .375rem 0;
  display: block;
}
.about-us .btn-link:hover, .about-us .btn-link:active, .about-us .btn-link:focus {
  text-decoration: none;
  color: #0c806b;
}
.about-us .card {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #0c806b;
}
.about-us .card:last-child {
  border-bottom: none;
}
.about-us .card-header {
  background-color: transparent;
  border: 0;
  position: relative;
  padding: .75rem 0;
}
.about-us .card-body {
  padding: 3rem;
  position: relative;
  border-top: 2px solid #0c806b;
  line-height: 1.2;
}
.about-us .card-body .mission-vision .item .head-text {
  color: #0c806b;
  padding: 3rem 0
}
.about-us .card-body .mission-vision .item .text {
  margin-left: 3rem;
  padding-left: 2rem;
  border-left: 1px solid #696a6a;
}

.right-menu ul li {
  list-style: none;
}
.right-menu > ul > li > a {
  border-bottom: 1px dotted #0c806b;
}
.right-menu ul li:last-child, .right-menu ul li:last-child a {
  border: none;
}
.right-menu ul li a {
  display: block;
  padding: 1rem 0;
  color: #0c806b;
  position: relative;
  -webkit-transition: all .25s ease-in-out;
     -moz-transition: all .25s ease-in-out;
      -ms-transition: all .25s ease-in-out;
       -o-transition: all .25s ease-in-out;
          transition: all .25s ease-in-out;
}
.right-menu ul li ul li {
  padding: 0 1rem;
  border-bottom: 1px dotted #0c806b
  background-color: #e8e8e8;
}
.right-menu ul li ul li a {
  padding: 1rem 0;
  color: #696a6a;
}
.right-menu ul li ul {
  border-bottom: 1px dotted #0c806b;
  display: none;
}
.right-menu ul li a .icon {
  position: absolute;
  right: 0;
  display: none;
  top: 0.7rem;
}
.right-menu ul li a .icon.down {
  display: block;
}
.right-menu ul li.active a .icon.up {
  display: block;
}
.right-menu ul li.active a .icon.down {
  display: none;
}
.right-menu ul li.active a.hassub:before {
  -webkit-transform: rotate(180deg);;
     -moz-transform: rotate(180deg);;
      -ms-transform: rotate(180deg);;
       -o-transform: rotate(180deg);;
          transform: rotate(180deg);;
}
.right-menu ul li a:hover {
  color: #a4cd5a;
}

.login-form {
  padding: 4rem 0;
  width: 100%;
  max-width: 30rem;
  margin: 0 auto;
}
.login-form .form-control {
  margin-bottom: 2rem;
}
.login-form .title {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    position: relative;
    line-height: 1.2;
    color: #0c806b;
}
.login-form .title:before {
    bottom: -2rem;
    left: -2.5%;
    position: absolute;
    content: '';
    width: 105%;
    border-bottom: 2px solid #0c806b;
}
.login-form .btn {
  background-color: #0c806b;
  border: 1px solid #0c806b;
  color: #fff;
}
.login-form .btn:hover {
  background-color: #13a087;
  border: 1px solid #13a087;
  color: #fff;
}
.scrollToTop {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    background: rgba(0, 128, 102, 0.6);
    color: rgba(255, 255, 255, 1);
    padding: 1.5rem;
    z-index: 999;
    /* display: none; */
    cursor: pointer;
}
.scrollToTop:before {
  position: absolute;
  top: 5%;
  left: 5%;
  content: '';
  width: 90%;
  height: 90%;
  border: 1px solid rgba(255, 255, 255, 1);
}
.news-information {
  padding-top: 0;
}
.news-information .heading {
  font-size: 3rem;
  padding: 4rem 0;
  color: #0c806b;
  font-family: "HelveticaNeueLight", Arial, Helvetica, sans-serif;
}
.health-check .breadcrumb, .health-check-tab .breadcrumb, .healthcare-team.sub-page .breadcrumb, .our-clinics .breadcrumb, .make-appointment-page .breadcrumb, .about-us .breadcrumb {
  margin-bottom: 4rem;
  font-size: 1.4rem;
}

#tab1 .content {
  padding: 0;
}
.steps-container {
  width: 100%;
  overflow: hidden;
}
.steps-container .steps-content {
  width: 300%;
  overflow: hidden;
  position: relative;
  transition-duration: .5s;
  -webkit-transition: .5s;
  transition: .5s -webkit-transform:translatez(0);
  -moz-transform: translatez(0);
  -ms-transform: translatez(0);
  -o-transform: translatez(0);
  transform: translatez(0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.steps-container .steps {
    padding: 15px;
    position: relative;
    width: 33.333333%;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}
.steps-container .step-2 label {
    padding-top: 1rem!important;
    min-height: 28px;
}
.radio {
    display: inline-block;
    margin-right: 10px;
}
.step-3 {
  text-align: justify;
  font-size: 1.6rem !important;
  line-height: 1.2;
}
.step-3 p {
  text-align: justify;
  margin-bottom: 1rem;
}
.step-3 ul li {
  line-height: 1.2;
  margin-bottom: 1rem;
}
#tab2 .form-check-input {
  margin-top: 0.2rem;
}
/* .steps-container .step-2 .form-check-label {
  font-size: 1.4rem;
} */

.datepicker {
  border-radius: 0 !important;
}
.datepicker-dropdown {
  z-index: 99999999999999999999999 !important;
}